<!DOCTYPE html>
<html>
  <head>
    <title>Donation</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='global.css'>
  </head>
  <body>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
      <div class="uk-width-2-3@m  uk-card uk-card-default uk-padding-small uk-visible@m">
        <div class="uk-grid">
          <div class="uk-width-1-6@m">
            <img src="/images/homer.png" width="60" alt="img" />
          </div>
          <div class="uk-width-expand@m uk-text-left">
            <div class="title">
              Donation Services Inc.
            </div>
            <div class="uk-text-muted uk-text-small">
              Sign up or Log in
            </div>
          </div>
          <div class="uk-card uk-card-small uk-text-center uk-padding-remove">
            <a target="”_blank”" href="https://github.com/tutors-sdk/tutors-svelte">
              <div>
                <i class="fas fa-donate fa-3x" style="color:rgb(95, 96, 173)" title="Source repo" pos="bottom" uk-tooltip></i>
              </div>
              <div class="uk-width-expand@m uk-text-left">
                <div class="uk-text-muted uk-text-center" style="font-size:xx-small">Donation 0.1</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div>
        <ul class="uk-iconnav uk-margin-left">
          <a href="/signup" class="uk-card-hover uk-padding-small">
            <i class="fas fa-user-cog fa-3x" style="color:rgb(63, 160, 155)" title="Sign up" pos="bottom" uk-tooltip></i>
          </a>
          <a href="/login" class="uk-card-hover uk-padding-small">
            <i class="fas fa-user-edit fa-3x" style="color:green" title="Log in" pos="bottom" uk-tooltip></i>
          </a>
        </ul>
      </div>
    </div>
    <div class="uk-container uk-margin">
      <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div>
          <img width="300" src="images/homer2.png">
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large">
            <h3 class="uk-card-title uk-text-center">Please enter details below</h3>
            <form action="/signup" method="POST">
              <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="icon: user"></span>
                  <input class="uk-input uk-form-large" type="text" name="firstName">
                </div>
              </div>
              <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="icon: user"></span>
                  <input class="uk-input uk-form-large" type="text" name="lastName">
                </div>
              </div>
              <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="icon: mail"></span>
                  <input class="uk-input uk-form-large" type="text" name="email">
                </div>
              </div>
              <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="icon: lock"></span>
                  <input class="uk-input uk-form-large" type="password" name="password">
                </div>
              </div>
              <div class="uk-margin">
                <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Sign up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
